*.pyc
*.swp
*.class
*.un~
.todo
pentagon/pentagondb
plutocracy/autogen.cfg
ncmpcpp/error.log
ncmpcpp/artists
irssi/away.log
irssi/logs
awesome/alarms
awesome/rc.new
awesome/rc.deep
htoprc
vim/.netrwhist
vim/undo
vim/doc/tags
vim/spell/en.utf-8.add
vim/spell/en.utf-8.add.spl
nvim/.netrwhist
nvim/plugged
nvim/autoload
nvim/.init.vim-rplugin~
*/.netrwhist
scripts/thrift
vim-powerline/*.cache
.DS_Store
scripts_go/bin
scripts_go/src/github.com
scripts_go/pkg
scripts/bump-mac-subrepo
scripts/golorize
scripts/git-gerrit-urls
